@model IEnumerable<Ecommerce.Models.product>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}
@section head {
    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

        body {
            background: #f5f5f5;
        }

        h1 {
            padding: 0 0 30px;
        }

        .panel {
            font-family: 'Roboto', sans-serif;
            padding: 0;
            border: none;
            box-shadow: 0 .3rem .8rem rgba(0, 0, 0, .12);
        }

            .panel .panel-heading {
                background: #fff;
                padding: 25px 25px 10px;
                border-radius: 0;
            }

                .panel .panel-heading .title {
                    color: #32393f;
                    font-size: 28px;
                    font-weight: 400;
                    line-height: 30px;
                    text-transform: capitalize;
                    margin: 0;
                }

                .panel .panel-heading .btn {
                    font-size: 15px;
                    padding: 6px 15px;
                    border-radius: 50px;
                    border: none;
                    transition: all 0.3s ease 0s;
                }

                    .panel .panel-heading .btn:hover {
                        box-shadow: 0 0 10px rgba(0,0,0,0.2);
                    }

            .panel .panel-body {
                border-radius: 0;
            }

                .panel .panel-body .table thead tr th {
                    color: #333;
                    font-size: 19px;
                    font-weight: 400;
                    padding: 12px;
                }

                    .panel .panel-body .table thead tr th:last-child {
                        width: 120px;
                    }

                .panel .panel-body .table tbody tr td {
                    color: #555;
                    background: #fff;
                    font-size: 15px;
                    font-weight: 500;
                    padding: 10px;
                    vertical-align: middle;
                    border-color: #e7e7e7;
                }

                .panel .panel-body .table .user_icon {
                    width: 50px;
                    height: 50px;
                    margin: 0 5px 0 0;
                    border-radius: 100px;
                    display: inline-block;
                }

                    .panel .panel-body .table .user_icon img {
                        width: 100%;
                        height: auto;
                        border-radius: 50%;
                    }

                .panel .panel-body .table tbody td span.label {
                    font-size: 13px;
                }

                .panel .panel-body .table tbody .action-list {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                }

                    .panel .panel-body .table tbody .action-list li {
                        margin: 0 3px;
                        display: inline-block;
                    }

                        .panel .panel-body .table tbody .action-list li a {
                            color: #f41127;
                            background-color: rgb(244 17 39 / 0.11);
                            font-size: 18px;
                            padding: 8px 12px;
                            border: none;
                            transition: all 0.3s ease;
                        }

                        .panel .panel-body .table tbody .action-list li:last-child a {
                            color: #0d6efd;
                            background-color: rgb(13 110 253 / 0.11);
                        }

                        .panel .panel-body .table tbody .action-list li a:hover {
                            box-shadow: 0 0 5px rgba(0,0,0,0.3);
                        }

            .panel .panel-footer {
                background-color: #fff;
                padding: 10px 25px 25px;
                border: none;
            }

        .pagination {
            margin: 0;
        }

            .pagination li a {
                color: #999;
                font-size: 14px;
                font-weight: 500;
                text-align: center;
                line-height: 32px;
                width: 30px;
                height: 30px;
                padding: 0;
                margin: 0 2px;
                border-radius: 30px;
                border: none;
                transition: all 0.3s ease 0s;
            }

                .pagination li a:hover,
                .pagination li a:focus,
                .pagination li.active a {
                    color: #fff;
                    background-color: #286090;
                }

            .pagination li:first-child a,
            .pagination li:last-child a {
                border-radius: 50%;
            }

            .pagination li a i {
                line-height: inherit;
            }

        @@media only screen and (max-width:767px) {
            .panel .panel-heading {
                text-align: center;
            }

                .panel .panel-heading .title {
                    margin: 0 0 15px;
                }

                .panel .panel-heading .text-right {
                    text-align: center;
                }
        }
    </style>
}
<div class="container-fluid">
    <div class="row text-center">
        <h1>Manage Products</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-sm-5 col-xs-12">
                            <h4 class="title">Products</h4>
                        </div>
                        <div class="col-sm-7 col-xs-12 text-right">
                            <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addproduct">Add New Product</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="panel-body table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>SR</th>
                                    <th>Image</th>

                                    <th>Product Name</th>
                                    <th>Price</th>
                                    <th>Price 2</th>
                                    <th>Discount %</th>
                                    <th>Category ID</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int sr = 1;
                                }
                                @foreach (var x in Model)
                                {
                                    <tr>
                                        <td>@sr</td>
                                        <td>
                                            <div class="user_icon">
                                                <img src="~/product/@x.image" style="border-radius:10px;height:100%;" />
                                            </div>

                                        </td>
                                        <td><span class="label label-success">@x.name</span></td>
                                        <td><span class="label label-success">@x.price1</span></td>
                                        <td><span class="label label-success">@x.price2</span></td>
                                        <td><span class="label label-success">@x.discount</span></td>
                                        <td><span class="label label-success">@x.cid</span></td>
                                        <td>
                                            <ul class="action-list">
                                                <li><a class="btn" onclick="return confirm('Are you sure you want to delete?')" asp-action="DeleteProduct" asp-route-id="@x.id"><em class="fa fa-trash"></em> </a></li>

                                                <li><a href="#" class="btn"><em class="fa fa-edit"></em></a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    sr++;
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade " id="addproduct">

    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Add New Product</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <form method="post" asp-action="SaveProduct" enctype="multipart/form-data">
                    Upload Slider
                    <input type="file" name="image" required class="form-control" />
                    <br />
                    <input type="text" name="name" placeholder="Enter product name" required class="form-control" />
                    <br />
                    <input type="text" name="price1" placeholder="Enter Price" required class="form-control" />
                    <br />
                    <input type="text" name="price2" placeholder="Enter Price 2" required class="form-control" />
                    <br />
                    <input type="text" name="discount" placeholder="Enter Discount %" required class="form-control" />
                    <br />
                    <select required name="cid" class="form-control">
                        <option value="">-Select Category-</option>
                        @foreach (var data in ViewBag.categories)
                        {
                            <option value="@data.id"> @data.title </option>
                        }
                    </select>
                    <br />
                    <button class="btn  btn-warning form-control">Upload</button>
                </form>
            </div>

        </div>
    </div>

</div>



